@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css');
@import './ftCoreStyle.css';

/* MAIN */

.main button,
.main h4 {
  max-height: 5%;
}

.loginModalContainer,
.routineModalContainer,
.modalContainer {
  height: auto;
}

.loginErrorMessage,
.newActErrorMessage {
  color: red;
  font-weight: 900;
}

/* ROUTINES */

.routinesContainer,
.activitiesContainer {
  display: flex;
  flex-direction: column;
}
.routineCard,
.activityCard {
  width: 90%;
  padding: 2%;
  margin: 2%;
  align-items: center;
}

.activityCard h4 {
  line-height: unset;
}

.activityCard {
  border: 0.2px solid #413b43;
}

.routineCard:hover {
  border: 0.2px solid #413b43;
  box-shadow: 0.1px 0.1px 6px #b79fb7;
}
.activityCard:hover {
  border: 0.2px solid #413b43;
  box-shadow: 0.1px 0.1px 6px #b79fb7;
}

.routineModalBody {
  display: flex;
  flex-direction: column;
}

.routineGoal {
  font-style: italic;
}
.routineActivities h5 {
  color: #8fecd5;
  text-align: center;
  line-height: unset;
}

.deleteActivityBtn {
  text-decoration: underline;
  color: red;
}
.editActivityBtn {
  text-decoration: underline;
  color: #8fecd5;
}

.deleteActivityBtn:hover,
.editActivityBtn:hover {
  background-color: #f7f2f8;
}
/* ROUTINES ENDS HERE*/

/* SIDE BAR STARTS HERE*/
.NavBarCountainer {
  height: 100%;
  width: 30%;
  align-items: center;
}
.NavBarCountainer * {
  text-decoration: none;
}
.topHalfSideBarContainer {
  height: 20%;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-flow: row nowrap;
}
#loginCard {
  width: 60%;
  margin: 10%;
  height: 80%;
  padding: 8%;
  align-items: center;
  justify-content: center;
}
.loginHeader {
  font-size: 1.5rem;
  align-items: center;
}
#loginCard i {
  height: 100%;
  width: 50%;
  z-index: 69;
}
#loginCard i:hover {
  border: 1 px solid beige;
}

.NavIconLink {
  width: 100%;
  height: 100%;

  z-index: 69;
}
.NavIcon {
  width: 100%;
  height: 100%;
  align-items: center;
  color: #f7f2f8;
  box-shadow: 1px 1px 1px 1px rgba(rgba(0, 0, 0, 0.572));
  font-size: 2rem;
  text-shadow: 0.1px 0.1px 2px #b79fb7;
}

.NavIcon:hover {
  text-shadow: 0.1px 0.1px 6px #b79fb7;
}

.myRoutinesContainer {
  min-height: 80%;
  overflow-y: scroll;
  scrollbar-width: thin;
}
.myRoutineCard {
  width: 90%;
  margin: 3%;
  padding: 3%;
  align-items: center;
}
.myRoutineCard:hover {
  border: 0.2px solid #413b43;
  box-shadow: 0.1px 0.1px 6px #b79fb7;
}
/* SIDE BAR ENDS HERE*/

.routineModalContainer,
.modalContainer {
  display: inline-flex;
  max-width: 70%;
  max-height: 80%;
  top: 15%;
  left: 20%;
  border-radius: 0.5rem;
}
.modal-dialog {
  max-width: 100%;
  max-height: 100%;
  background-color: transparent;
  align-items: center;
  justify-content: center;
  margin: 0.1%;
}
.modal-content {
  height: 100%;
  max-width: 100%;
  flex: 1;
}
.modal-header {
  height: 10%;
}
.routineModalBody * {
  height: 40%;
  overflow-y: auto;
}
.modal-footer {
  height: 10%;
}

.activDropdown {
  max-width: 80%;
  margin: 1%;
  padding: 2%;
  border-radius: 0.5rem;
}
.activDropdown-item {
  backdrop-filter: sepia(100%);
  background-color: rgba(136, 89, 123, 0.313), transparent;
}

.routinesPopOut {
  visibility: visible;
  position: sticky;
  display: inline-block;
  min-height: 100vh;
  min-width: 20vw;
  width: 20%;
  color: #f7f2f8;
  box-shadow: -1px 0.1px 2px #b79fb798;
}
.routinesPopOut * {
  background-color: transparent;
}
#offcanvasRight {
  /* right:unset !important; */

  left: 29.5vw;
  align-self: unset;
  justify-self: unset;
}
.routListOC {
  flex-flow: column nowrap;
  gap: 15px;
}

.headerOC {
  height: 20%;
}
.headerOC button {
  background-color: #f7f2f8;
  border: 1px solid black;
  max-width: 20%;
}
.bodyOC {
  height: 80%;
  flex-flow: column nowrap;
}
.bodyOC ul {
  width: 90%;
  font-size: 1.5rem;
  flex-flow: column nowrap;
  margin: 7% 3% 3% 3%;
}
.bodyItemOC {
  background-color: #481754;
  flex-flow: row wrap;
  flex-direction: column;
  gap: 5px;
  border: 1px solid #b79fb798;
}
.bodyItemOC:hover {
  box-shadow: -1px 0.1px 2px #b79fb798;
}
.buttonListOC {
  height: 20%;
}
.bodyOCHeader {
  font-size: 1.8rem;
  font-style: oblique;
  text-decoration: underline;
}
