@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
@import "./ftCoreStyle.css";

/* MAIN */

.main button,
.main h4 {
  max-height: 5%;
}

.loginModalContainer,
.routineModalContainer {
  height: auto;
}

/* ROUTINES */

.routinesContainer,
.activitiesContainer {
  display: flex;
  flex-direction: column;

}
.routineCard, .activityCard {
  width: 90%;
  padding: 2%;
  margin: 2%;
  align-items: center;


}

.routineCard:hover {
  border: .2px solid #413b43;
  box-shadow: .1px .1px 6px #b79fb7;
}
.activityCard:hover{
  border: .2px solid #413b43;
  box-shadow: .1px .1px 6px #b79fb7;
}

.routineModalBody {
  display: flex;
  flex-direction: column;
}


.deleteActivityBtn:hover { background-color: red }
/* ROUTINES ENDS HERE*/

/* SIDE BAR STARTS HERE*/
.NavBarCountainer {
  height: 100%;
  width: 30%;
  align-items: center;
}
.NavBarCountainer * {
  text-decoration: none;
}
.topHalfSideBarContainer {
  height: 20%;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-flow: row nowrap;
}
#loginCard {
  width: 60%; 
  margin: 10%;
  height: 80%;
  padding: 8%;
  align-items: center;
  justify-content: center;
}
.loginHeader {
  font-size: 1.5rem;
  align-items: center;
}
#loginCard i {
  height: 100%;
  width: 50%;
  z-index: 69;
}
#loginCard i:hover {
  border: 1 px solid beige;
}



.NavIconLink {
  width: 100%;
  height: 100%;

  z-index: 69;
}
.NavIcon {
  width: 100%;
  height: 100%;
  align-items: center;
  color: #F7F2F8;
  box-shadow: 1px 1px 1px 1px rgba(rgba(0, 0, 0, 0.572));
  font-size: 2rem;
  text-shadow: .1px .1px 2px #b79fb7;
}

.NavIcon:hover{
  text-shadow: .1px .1px 6px #b79fb7;
}

.myRoutinesContainer {
  min-height: 80%;
  overflow-y: scroll;
  scrollbar-width: thin;
}
.myRoutineCard {
  width: 90%;
   margin: 3%;
   padding: 3%;
   align-items: center;
  }
.myRoutineCard:hover {
  border: .2px solid #413b43;
  box-shadow: .1px .1px 6px #b79fb7;
}
/* SIDE BAR ENDS HERE*/

.routineModalContainer {
  width: 60%;
  height: 80%;
  top: 5%;
  left: 20%;
  padding: 10%;
  overflow-y: hidden;
}
.modal-content {
  height: 100%;
}
.modal-header {
  height: 10%;
}
.routineModalBody * {
  height: 40%;
  flex: 1;
}
.modal-footer {
  height: 10%;
}
