@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
@import "./ftCoreStyle.css";


/* MAIN */














.main button,
.main h4 {
  max-height: 5%;
}

.loginModalContainer,
.routineModalContainer {
  height: auto;
}

/* ROUTINES */

.routinesContainer,
.activitiesContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px;
}

.routineCard {

}
.routineCard:hover {
  cursor: pointer;
  border: 1px solid #F7F2F8;

}

.routineModalBody {
  display: flex;
  flex-direction: column;
}

.activityCard { border: 1px solid black}
.deleteActivityBtn:hover { background-color: red }
/* ROUTINES ENDS HERE*/

/* SIDE BAR STARTS HERE*/


#loginCard {
  width: 60%;
  height: 60%;
}
.loginHeader {
  font-size: 1rem;
}
#loginCard i {
  height: 20%;
  width: 20%;
  z-index: 69;
  
}
#loginCard i:hover {
 border: 1 px solid beige
}




.topHalfSideBarContainer {
  height: 20%;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-flow: row nowrap;
}
.NavBarCountainer {
  height: 100%;
  width: 30%;
  align-items: center;
 
}
.NavBarCountainer * {
  text-decoration: none;
}
.NavIconLink{
  width: 100%;
  height: 100%;
  
  z-index: 69;
}
.NavIcon {
  min-width: 100%;
  min-height: 100%;
  align-items: center;
  color: #F7F2F8;
  box-shadow: 1px 1px 1px 1px rgba(rgba(0, 0, 0, 0.572));
  font-size: 2rem;
}


.myRoutinesContainer {
  min-height: 80%;
  overflow-y: scroll;
  scrollbar-width: thin;
}
/* SIDE BAR ENDS HERE*/

.routineModalContainer {
  width: 60%;
  height: 80%;
  top: 5%;
  left: 20%;
  padding: 10%;
  overflow-y: hidden;
}
.modal-content {
  height: 100%;
}
.modal-header {
  height: 10%;
}
.routineModalBody * {
  height: 40%;
  flex: 1;
}
.modal-footer {
  height: 10%;
}
